@{
    ViewData["Title"] = "Home Page";
}

<div class="row whitespace">
    <div class="col-md-4 ">
        <h2>Cars</h2>
        <hr />
        <a asp-area="" asp-controller="Cars" asp-action="Index"> <img class="" src="~/images/car.png" /></a>




    </div>
    <div class="col-md-4">
        <h2>Brands</h2>
        <hr />
        <a asp-area="" asp-controller="CarTypes" asp-action="Index"> <img class="" src="~/images/brand.png" /></a>



    </div>
    <div class="col-md-4">
        <h2>Owners</h2>
        <hr />
        <a asp-area="" asp-controller="Owners" asp-action="Index"> <img class="" src="~/images/owner.png" /></a>




    </div>
</div>